<!DOCTYPE html>
<html>

<head>

<title>AI Career Platform</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="navbar">

<h2>AI Career Platform</h2>

<div class="nav-links">

<a href="/dashboard">🏠 Dashboard</a>

<a href="/upload">📄 Upload Resume</a>

<a href="/analyze">🔍 Analyzer</a>

<a href="/jobs">💼 Recommended Jobs</a>

<a href="/explore_jobs">🔎 Explore Jobs</a>


<a href="/logout">🚪 Logout</a>

</div>

</div>

<div class="container">

{% block content %}

{% endblock %}

</div>

</body>
</html>