<!DOCTYPE html>
<html>

<head>

<title>Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="auth-bg">

<div class="auth-container">

<h2>AI Career Platform</h2>

<form method="POST">

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<button class="btn">Login</button>

<p>Don't have an account?</p>

<a class="register-btn" href="/signup">Register</a>

</form>

</div>

</body>

</html>